<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Add a booking for
        <h1> <%= @supply.title %></h1>
      </h2>
      <%= simple_form_for [@supply, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, "Borrow it", class: 'btn btn-light' %>
      <% end %>
    </div>
  </div>
</div>
