<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        <h1 style="text-align: center">Pick up your supply here:</h1>
      </div>
      <br>
      <h1>Add a booking for
        <h3><%= @supply.title %></h3>
        <h3><%= @supply.price %>円/day</h3>
      </h1>
      <%= simple_form_for [@supply, @booking] do |f| %>
        <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %> <br>
        <%= f.button :submit, "Borrow it", class: 'btn btn-light' %>
      <% end %>
    </div>
  </div>
</div>