<div class="container">
  <div class="booking-card">
    <h1>Current Bookings</h1>
    <% @bookings.each do |b| %>
      <div class="grid-item">
        <div class="grid-item-img">
          <%= cl_image_tag b.supply.photo %>
        </div>
        <div class="grid-item-info">
          <h4><%= link_to b.supply.title, b.supply %> </h4>
          <p><%= (b.end_date - b.start_date).to_i %> days until your rental starts</p>
          <p>location</p>
          <div class="user-avatar">
            <%= image_tag "gogh.png" %>
          </div>
        </div>
      </div>
    <% end %>
    <h1>Past Bookings</h1>
    <% @bookings.each do |b| %>
      <%if  b.end_date < Date.today %>
        <div class="grid-item">
          <div class="grid-item-img">
            <%= cl_image_tag b.supply.photo %>
          </div>
          <h4><%= link_to b.supply.title, b.supply %> </h4>
          <p><%= (b.end_date - b.start_date).to_i %> days until your rental starts</p>
          <p>location</p>
          <div class="user-avatar">
            <%= image_tag "gogh.png" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <%= link_to "Back Home", root_path %>
</div>
