<!-- <div class="container">
  <div class="col">
    <div class="row">
      <%= form_tag supplies_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder:"Find a supply" %>
        <%= submit_tag "Search", class: "btn btn-light" %>
      <% end %>
      <%= supply.each do |s| %>
        <h4> <%= supply.title %> </h4>
        <p> <%= supply.description %> </p>
      <% end %>
    </div>
  </div>
</div> -->