<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/194098/pexels-photo-194098.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="container">
    <h1>Let's Gogh is a platform where users rent out their art supplies!</h1>
    <p>Save money, make more art</p>
  </div>
</div>
<h2>Hot Supplies</h2>
<%= simple_form_for :cat_search, url: root_path, method: "GET" do |f| %>
  <%= f.input :categories, label: "Category",  collection: Supply::CATEGORY, as: :check_boxes %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", root_path  %>
<% end %>
<div class="grid-container">
  <% @supplies.each do |s| %>
    <div class="grid-item">
      <div class="grid-item-img">
        <%= cl_image_tag s.photo %>
      </div>
      <div class="grid-item-info">
        <h4><%= link_to s.title, supply_path(s) %> </h4>
        <p id="supply-pricing"><%= s.price %>円/day</p>
        <p><%= s.category %> </p>
        <p><%= s.user.username %> </p>
        <p>
          <% s.tag_list.each do |tag| %>
           <%= link_to tag, root_path(tag: tag) %>
          <% end %>
        </p>
        <div class="user-avatar">
          <%= cl_image_tag s.photo %>
        </div>
      </div>
    </div>
  <% end %>
</div>