<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add a supply to rent out</h1>
      <%= simple_form_for @supply do |f| %>
        <%= f.input :title %>
        <%= f.input :category, collection: Supply::CATEGORY %>
        <%= f.input :price %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back Home", supply_path(@supply) %>
</div>