<h2>Found these results</h2>
<div class="grid-container">
  <% @supplies.each do |s| %>
    <div class="grid-item">
      <div class="grid-item-img">
        <%= cl_image_tag s.photo %>
      </div>
      <div class="grid-item-info">
        <h4><%= link_to s.title, supply_path(s) %> </h4>
        <p><%= s.price %> 円/day</p>
        <p id="supply-pricing"><%= s.category %> </p>
        <p><%= s.user.username %> </p>
      </div>
    </div>
  <% end %>
</div>