<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Add a supply to rent out</h1>
      <%= simple_form_for @supply do |f| %>
        <%= f.input :title, placeholder: "Please type brief info"%>
        <%= f.input :category, hint:"Please select from the list", collection: Supply::CATEGORY %>
        <%= f.input :price, placeholder: "Price per day" %>
        <%= f.input :description, placeholder: "Quantity, Usage, Material, Warning, etc." %>
        <%= f.input :location, placeholder: "Please put your address"%>
        <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: 'btn btn-light' %>
      <% end %>
      <div class=mt-3> <%= link_to "Back Home", root_path, class: 'btn btn-light'  %> </div>
    </div>
  </div>
</div>