<div class="supply-container">
  <div id="card-show">
    <div class="card-show-info">
      <div class="Supply">
        <%= cl_image_tag @supply.photo %>
        <div class="fixed-info">
          <ul id="show-options">
            <li>
              <div>
                <% if policy(@supply).edit? %>
                  <%= link_to edit_supply_path(@supply) do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li>
              <div>
                <% if policy(@supply).destroy? %>
                  <%= link_to supply_path(@supply), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
        <h1><%= @supply.title %></h1>
        <p>$ <%= @supply.price %> </p>
        <%= @supply.category %> <br>
        <%= @supply.description %> <br>
        <%= @supply.user.username %>
      </div>
    </div>
  </div>
  <div id="reserve-sticky">
    <div class="reserve-content">
      <p>
        <div class="sticky">
          <h3>$<%= @supply.price %> </h3>
        </div>
        <div class="row no-gutters">
          <%= render "bookings/new", supply: @supply, user: current_user %>
        </div>
      </p>
    </div>
  </div>
</div>
</div>
</div>