<div class="supply-container">
  <div id="card-show">
    <div class="card-show-info">
      <p>
        <div class="Supply">
          <h1><%= @supply.title %></h1>

          <%= @supply.price %> <br>
          <%= @supply.category %> <br>
          <%= @supply.description %>
        </div>
      </p>
    </div>
  </div>
  <div id="reserve-sticky">
    <div class="reserve-content">
      <p>
        <div class="sticky">
          <h3> <%= @supply.price %> </h3>
        </div>
        <div class="row no-gutters">
          <div class="calendar col-lg">
            <%= simple_form_for @supply do |f| %>
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.button :submit, 'Rent Supply!', :class => "btn btn-light"%>
            <% end %>
          </div>
        </div>
      </p>
    </div>

  </div>
  <div class="return">
    <%= link_to "back to supplies", root_path %>
  </div>
  <div class>
    <% if policy(@supply).edit? %>
      <%= link_to "edit", edit_supply_path(@supply)  %>
    <% end %>
  </div>
  <div>
    <% if policy(@supply).destroy? %>
      <%= link_to supply_path(@supply), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-trash destroy_dose"></i>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</div>