
  <div class="container">
      <div class="row">
        <div class="col">

          <div class="card-show">
            <div class="card-how-info">
              <div class="name">
                <h1><%= @supply.title %></h1>
              </div>
                <p>
                  <div class="Supply">
                  <%= @supply.title  %> <br>
                  <%= @supply.price %> <br>
                  <%= @supply.category %> <br>
                  <%= @supply.description %>
                  </div>
                </p>
            </div>

            <div class="return">
              <%= link_to "back to supplies", root_path %>
            </div>
          </div>
        </div>
    </div>



