<div class="supply-container">
  <div id="card-show">
    <div class="card-show-info">
      <div class="fixed-info">
        <ul id="show-options">
          <li>
            <div>
              <% if policy(@supply).edit? %>
                <%= link_to edit_supply_path(@supply) do %>
                  <i class="far fa-edit"></i>
                <% end %>
              <% end %>
            </div>
          </li>
          <li>
            <div>
              <% if policy(@supply).destroy? %>
                <%= link_to supply_path(@supply), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="supply-info">
        <div class="supply-img">
          <%= cl_image_tag @supply.photo %>
        </div>
        <h1><%= @supply.title %></h1>
        <p>Category:
          <%= @supply.category %> </p>
        <p id="supply-pricing"><%= @supply.price %>円/day</p>
        <br>
        <%= @supply.description %>
        <div id="user-avatar-show">
          <%= image_tag("bananadeer.png", :alt=> "bananadeer") %>
          <small>username</small>
        </div>
      </div>
    </div>
  </div>
  <div id="reserve-sticky">
    <div class="reserve-content">
      <% if policy(@supply).edit? %>
        <div class="card-show">
          <% @supply.bookings.each do |b| %>
            <% if b.start_date == Date.today %>
              <h4>Remember to deliver to <%= b.user.username %> at LOCATION today!</h4>
            <% else %>
              <h4><%= (b.start_date - Date.today).to_i %> days before you need to deliver!</h4>
              <br>
              <p>Deliver to <%= b.user.username %> at LOCATION on <%= b.start_date %></p>
            <% end %> <br>
            <p>Don't forget to collect your <%= @supply.title %> from <%= b.user.username %> on <%= b.end_date %>!</p>
          <% end %>
        </div>
      <% else %>
        <div class="sticky">
        </div>
        <div class="row no-gutters">
          <%= render "bookings/new", supply: @supply, user: current_user %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="reviews-box">
    <h1>Review of this Supply</h1>
    <p>
      <% pluralize @supply.reviews.size, "review" %>
    </p>
    <div id="reviews">
      <% if @supply.reviews.blank? %>
        Be the first to leave a review for <%= @supply.title %>
      <% else %>
        <% @supply.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
    </div>
    <div class="review">
      <%= render 'reviews/form', supply: @supply, review: @review %>
    </div>
  </div>
</div>
</div>
</div>