
  <div class="supply-container">

          <div id="card-show">
            <div class="card-how-info">
              <div class="name">
                <h1><%= @supply.title %></h1>
              </div>
                <p>
                  <div class="Supply">
                  <%= @supply.title  %> <br>
                  <%= @supply.price %> <br>
                  <%= @supply.category %> <br>
                  <%= @supply.description %>
                  </div>
                </p>
            </div>
          </div>

            <div id="reserve-sticky">
              <p>hi im sticky</p>
            </div>

          <div class="return">
            <%= link_to "back to supplies", root_path %>
          </div>
          <div class>
            <%= link_to "edit", edit_supply(@supply)  %>
          </div>
    </div>



